@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-clash {
  font-family: "Clash Display", sans-serif;
}

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}